body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 100px;
  background-color: rgb(220, 215, 215);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(90, 10, 226, 0.1);
}

h1, p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius:15px;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Responsive design */
@media (max-width: 480px) {
  .container {
    margin: 20px;
    padding: 20px;
  }
}
